@import '~bootstrap/scss/bootstrap';

$cell-border-color: #000; // black
$cell-hover-color: #ffc0cb; // pink
$form-border-color: #000; // black
$table-border-color: #008000;
$table-even-row-background-color: #ddd;
// button,
// [type='submit'] {
//   : 'btn btn-primary';
//   // font-size: 30px;
//   // padding: 5px;
// }


* {
  font-size: 24px;
}

.view {
  margin: 0;
  padding: 0;
}

.info {
  align-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  margin: 5px;
}

.board {
  margin: 20px;
}

.home {
  margin: 0;
  padding: 0;
}

.form {
  border-color:  $form-border-color;
  border-style: solid;
  border-width: 3px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.row {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
}

.column-left {
  border-right-style: solid;
}

.column-right {
  border-left-style: solid;
}

.row-top {
  border-bottom-style: solid;
}

.row-bottom {
  border-top-style: solid;
}

.cell {
  border-color: $cell-border-color;
  border-width: 2px;
  font-size: 20vmin;
  height: 25vmin;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  width: 25vmin;

  &:hover {
    background-color: $cell-hover-color;
  };
}

table {
  width: 100%;
}

td,
th {
  border: 3px solid $table-border-color;
  padding: 8px;
  text-align: left;
}

tr {
  &:nth-child(even) {
    background-color: $table-even-row-background-color;
  }
}

h1 {
  text-align: center;
}
