@import '~bootstrap/scss/bootstrap';

$border-color: #000;

.board {
  padding: 6vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
}

.cell {
  align-content: center;
  align-items: center;
  border-color: $border-color;
  border-width: 2px;
  font-size: 20vmin;
  height: 25vmin;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  width: 25vmin;
}

.column-left {
  border-right-style: solid;
}

.column-right {
  border-left-style: solid;
}

.row-top {
  border-bottom-style: solid;
}

.row-bottom {
  border-top-style: solid;
}
